body{
  overflow-y: hidden;
}

.head {
  height: 100px !important;
  background: #da4a4a !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.navbar-brand {
  width: 500px;
  margin-left: -200px;
}

.nav-link {
  color: white;
  font-weight: 600;
  font-size: 19px;
}

.sidebar {
  height: 100vh !important;
  width: 212px;
  background: rgba(218, 74, 74, 0.77);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.otherside {
  height: 100vh !important;
}

.dash {
  font-weight: 600;
  font-size: 20px;
  color: white;
  
}

.novofunc, p {
  color: #da4a4a;
}

.input1{
  margin-top: 15px;
  height: 50px;

  border: 1px solid #55b1b8 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px !important;
}

.guardar {
  background: #55b1b8 !important;
  border: 2px solid #55b1b8 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
  color: white !important;

  font-weight: 700 !important;
}

.cancelar {
  background: #da4a4a !important;
  border: 2px solid #da4a4a !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

th,
td {
  color: #da4a4a !important;
  border-right: 1px solid;
  text-align: center;
}

td a {
  color: #da4a4a !important;
}

table {
  border-color: #da4a4a !important;
}

.escolha {
  color: #da4a4a;
  border: 1px solid #da4a4a !important;
  border-radius: 10px !important;
  width: 281px;
  height: 40px;
}

.abrir_documento{
  background-color: #55b1b8;

  color: white;
  font-weight: 700 !important;
  border-radius: 0 !important;
}